In [3]:
import re
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
airbnb = pd.read_csv('airbnb_v1.csv',skiprows=1,dtype='str')
airbnb = airbnb.drop('Unnamed: 15', axis=1)

In [5]:
airbnb

,id,name,host id,[host_name],neighbourhood group,neighbourhood,latitude,longitude,room and type,minimum nights,number of reviews (total),last review (date),reviews per month,floor,noise.dB.,price
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn - **Borough**,KensingtonBrooklyn - **Borough**-Brooklyn - **...,40.64749,-73.97237,Private room,1,9,2018-10-19,0.21,First Floor,69.0564645654522dB,149
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,1,45,2019-05-21,0.38,First Floor,56.0542782840785dB,$225
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902N,-73.9419,Private room,3,0,NaN,NaN,First Floor,56.0542782840785dB,150
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514N,-73.95976,Entire home/apt,1,270,2019-07-05,4.64,First Floor,69.0564645654522dB,89
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,10,9,2018-11-19,0.1,First Floor,56.05427828,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39113,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,2,0,NaN,NaN,First Floor,69.0564645654522dB,70
39114,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317° W,Private room,4,0,NaN,NaN,First Floor,69.0564645654522dB,40
39115,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,10,0,NaN,NaN,First Floor,56.0542782840785dB,115
39116,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,1,0,NaN,NaN,First Floor,56.0542782840785dB,55
39117,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,7,0,NaN,NaN,First Floor,56.0542782840785dB,90

## Numerical Columns

In [6]:
## ID
airbnb['id'] = [re.sub('[^0-9]','',str(x)) for x in airbnb['id']]
airbnb['id'] = airbnb['id'].astype(int)

## HOST ID
airbnb['host   id'] = [re.sub('[^0-9]','',str(x)) for x in airbnb['host   id']]
airbnb['host   id'] = airbnb['host   id'].astype(int)

## MINIMUM NIGHTS
airbnb['minimum nights'] = [re.sub('[^0-9]','',str(x)) for x in airbnb['minimum nights']]
airbnb['minimum nights'] = airbnb['minimum nights'].astype(int)

## NUMBER OF REVIEWS
airbnb['number of reviews (total)'] = [re.sub('[^0-9]','',str(x)) for x in airbnb['number of reviews (total)']]
airbnb['number of reviews (total)'] = airbnb['number of reviews (total)'].astype(int)

## REVIEWS PER MONTH
airbnb['reviews per month'] = [re.sub('nan|NaN','0',str(x)) for x in airbnb['reviews per month']]
airbnb['reviews per month'] = [re.sub('[^0-9.]','',str(x)) for x in airbnb['reviews per month']]
airbnb['reviews per month'] = airbnb['reviews per month'].astype(float)

## NOISE
airbnb['noise.dB.'] = [re.sub('[^0-9.]','',str(x)) for x in airbnb['noise.dB.']]
airbnb['noise.dB.'] = airbnb['noise.dB.'].astype(float)

## PRICE
airbnb['price'] = [re.sub('[^0-9.]','',str(x)) for x in airbnb['price']]
airbnb['price'] = airbnb['price'].astype(int)

## LATITUDE
airbnb['latitude'] = [re.sub('[^0-9.]','',str(x)) for x in airbnb['latitude']]
airbnb['latitude'] = airbnb['latitude'].astype(float)

## LONGITUDE
airbnb['longitude'] = [re.sub('[^0-9.-]','',str(x)) for x in airbnb['longitude']]
airbnb['longitude'] = airbnb['longitude'].astype(float)

## Categorical Columns

In [7]:
## FLOORS
airbnb['floor'] = [re.sub('Lower Level','0',str(x)) for x in airbnb['floor']]
airbnb['floor'] = [re.sub('First Floor|1st-floor','1',str(x)) for x in airbnb['floor']]
airbnb['floor'] = [re.sub('Second Floor','2',str(x)) for x in airbnb['floor']]
airbnb['floor'] = [re.sub('Third Floor','3',str(x)) for x in airbnb['floor']]
airbnb['floor'] = [re.sub('Fourth Floor','4',str(x)) for x in airbnb['floor']]
airbnb['floor'] = [re.sub('Fifth Floor|5th floor|5th Floor','5',str(x)) for x in airbnb['floor']]
airbnb['floor'] = [re.sub('Sixth Floor','6',str(x)) for x in airbnb['floor']]
airbnb['floor'] = [re.sub('Seventh Floor','7',str(x)) for x in airbnb['floor']]
airbnb['floor'] = [re.sub('Eighth Floor','8',str(x)) for x in airbnb['floor']]
airbnb['floor'] = [re.sub('Ninth Floor','9',str(x)) for x in airbnb['floor']]
airbnb['floor'] = [re.sub('Tenth Floor','10',str(x)) for x in airbnb['floor']]
airbnb['floor'] = [re.sub('Eleventh Floor','11',str(x)) for x in airbnb['floor']]
airbnb['floor'] = [re.sub('Thirteenth Floor','13',str(x)) for x in airbnb['floor']]
airbnb['floor'] = [re.sub('Sixteenth Floor','16',str(x)) for x in airbnb['floor']]
airbnb['floor'] = [re.sub('Seventeenth Floor','17',str(x)) for x in airbnb['floor']]
airbnb['floor'] = [re.sub('Twentieth Floor','20',str(x)) for x in airbnb['floor']]
airbnb['floor'] = [re.sub('Hundreth Floor','100',str(x)) for x in airbnb['floor']]

airbnb['floor'] = airbnb['floor'].astype(int)

In [8]:
## Room Type
airbnb['room and type'] = [re.sub('Room Type Private|Privatè-Room','Private room',str(x)) for x in airbnb['room and type']]

In [9]:
##Neighbourhood Groups
airbnb['neighbourhood group'] = [re.sub('Brooklyn - \*\*Borough\*\*|Brooklyn Borough|brklyn','Brooklyn',str(x)) for x in airbnb['neighbourhood group']]
airbnb['neighbourhood group'] = [re.sub('broxn|  bronx_borugh|B-r-0-n-x|Bronx   ','Bronx',str(x)) for x in airbnb['neighbourhood group']]

In [10]:
##Neighbourhoods
airbnb['neighbourhood'] = [re.sub('Brooklyn - \*\*Borough\*\*-Brooklyn - \*\*Borough\*\*|Brooklyn-Brooklyn|Brooklyn Borough-Brooklyn Borough|brklyn-brklyn','',str(x)) for x in airbnb['neighbourhood']]
airbnb['neighbourhood'] = [re.sub('Manhattan-Manhattan','',str(x)) for x in airbnb['neighbourhood']]
airbnb['neighbourhood'] = [re.sub('Bronx-Bronx|broxn   -broxn   ','',str(x)) for x in airbnb['neighbourhood']]
airbnb['neighbourhood'] = [re.sub('Queens-Queens','',str(x)) for x in airbnb['neighbourhood']]
airbnb['neighbourhood'] = [re.sub('Staten Island-Staten Island|, Staten Island','',str(x)) for x in airbnb['neighbourhood']]
airbnb['neighbourhood'] = airbnb['neighbourhood'].replace('nan',np.nan,regex=True)

## Date Column

In [12]:
## Last Review
airbnb['last review (date)'] = [re.sub('nan','3000-01-01',str(x)) for x in airbnb['last review (date)']]
airbnb['last review (date)'].str[7:11].unique()
airbnb['last review (date)']=airbnb['last review (date)'].apply(lambda x:datetime.strptime(x,"%Y-%m-%d"))
airbnb['last review (date)']=airbnb['last review (date)'].apply(lambda x:datetime.strftime(x,"%Y-%m-%d"))
airbnb = airbnb.replace('3000-01-01',np.nan,regex=True)

## Exporting CSV

In [ ]:
airbnb.to_csv("Cleaned_Airbnb.csv")